<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello FUC KEA</title>

    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">F.U.C.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/match">New Match</a>
                <a class="nav-item nav-link" href="/registergame">After Match</a>
                <a class="nav-item nav-link" href="#">Leagues</a>
                <a class="nav-item nav-link" href="#">Ranking</a>
                <a class="nav-item nav-link" href="#">Profile</a>
            </div>
        </div>
    </nav>
    
    <div class="wrapper">
        <div class="img-wrap">
            <a href="/match">
                <h3>New Match</h3>
                <img src="/img/match.jpg" alt="New match">
            </a>
        </div>
        <div class="img-wrap">
            <a href="#">
                <h3>Leagues</h3>
                <img src="/img/league.jpg" alt="Leagues">
            </a>
        </div>
        <div class="img-wrap">
            <a href="#">
                <h3>Ranking</h3>
                <img src="/img/ranking.jpg" alt="Global ranking">
            </a>
        </div>
        <div class="img-wrap">
            <a href="#">
                <h3>Profile</h3>
                <img src="/img/profile.jpg" alt="Profile">
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>